.title {
  font: var(--font-inter);
  font-size: 18px;
  font-weight: bold;
  color: #B6BDFC;
}

.title > span{
  font-size: 30px;
  color: #0B23F4;
}


.subtitle {
  font: var(--font-inter);
  font-size: 16px;
  color: #707070;
  margin-bottom: 20px;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}

.content
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}