.title {
  font: var(--font-inter);
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.subtitle {
  font: var(--font-inter);
  font-size: 16px;
  color: #707070;
  margin-bottom: 20px;
}

.legend{
  vertical-align: middle;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 10px;
}