:root {
  --background: #F2F3FF;
  --foreground: #171717;
}

html,
body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  position:relative;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2{
  margin-top: 40px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  max-width: 1140px;
  min-width: 800px;
  margin: 40px;
  margin-bottom: auto;
  padding-bottom: 100px;
  flex-grow: 1;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-top: 60px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.icon
{
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  vertical-align: middle;
}

.star
{
  background-image: url("/ai.png");
  background-position: center;
  background-size: contain;
}

.button{
  position: relative;
  border-radius: 13px;
  background-color: white;
  border: 1px solid black;
  padding: 6px;
  margin: 0 6px 0 6px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  aspect-ratio: 1 / 1;
  height: 33px;
  cursor: pointer;
}
