.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 81, 0);
  width: 100%;
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  margin-top: 60px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  text-align: center;
  height: 300px;
}

.message h2{
  margin-top: 0px;
  margin-bottom: 20px;
  color: black;
}

.message p{
  margin-top: 10px;
}

.action{
  color: gray;
  margin-top: 60px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  justify-content: center;
  text-align: center;
}

.link{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px 10px 20px 10px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}

.code{
  color: gray;
  margin-top: 60px;
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
}

.code:before{
  content: "CODE ERREUR: ";
}