.container{
    width: 100%;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    color: blue;
    width: 100%;
    margin-bottom: 20px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos > p{
    margin: 0 20px 0 20px;
}

.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF00);
    margin-bottom: 20px;
}

.photo{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}


.button{
    border-radius: 10px;
    background-color: blue;
    padding: 20px;
    color: #FFFFFF;
    border: none;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.box{
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

.subtitle {
  font: var(--font-inter);
  font-size: 16px;
  color: #707070;
  margin-bottom: 20px;
}

.label1 {
  font: var(--font-inter);
  font-size: 16px;
  color: #B6BDFC;
}

.label1 > span {
  font-size: 23px;
  color: #0B23F4;
}

.label2 {
  font: var(--font-inter);
  font-size: 16px;
  color: #FCC1B6;
}

.label2 > span {
  font-size: 23px;
  color: #F4320B;
}
