.container{
    width: 100%;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    background-color: #FFFFFF;
    color: blue;
    width: 100%;
    margin-bottom: 20px;
}

.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos > p{
    margin: 0 20px 0 20px;
}

.profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #FFFFFF, #FFFFFF00);
    margin-bottom: 20px;
}

.photo{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}

.photo h2{
    margin-top: 0;
}

.button{
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 10px;
    background-color: blue;
    padding: 16px 36px 16px 36px;
    color: #FFFFFF;
    border: none;
}

.button img{
    margin-right: 20px;
}

.buttonAnim::after{
  position: absolute;
  content: "";
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 500ms;
}

.buttonAnim:hover::after{
  opacity: 0.3;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 50px;
}

.avatar_content img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    transition: transform 500ms;
    transform: scale(1);
}

.avatar_content:hover img{
    transform: scale(1.5);
}


.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.box{
    background-color: #FFFFFF;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}

.subtitle {
  font: var(--font-inter);
  font-size: 16px;
  color: #707070;
  margin-bottom: 20px;
}

.label1 {
  font: var(--font-inter);
  font-size: 16px;
  color: #B6BDFC;
}

.label1 > span {
  font-size: 23px;
  color: #0B23F4;
}

.label2 {
  font: var(--font-inter);
  font-size: 16px;
  color: #FCC1B6;
}

.label2 > span {
  font-size: 23px;
  color: #F4320B;
}
