.container{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    gap: 50px;
}

.stats > div{
    margin-bottom: 20px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.items > div{
    border-radius: 20px;
    padding: 20px;
    background-color: #0B23F4;
    color: white;
    width: calc(50% - 20px);
}

.items > div p:first-child{
    font-size: 14px;
    margin-bottom: 20px;
}

.profil > div{
    border-radius: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.photo{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
}

.avatar{
    overflow: hidden;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 20px;
}

.avatar img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    transition: transform 500ms;
    transform: scale(1);
}

.avatar:hover img{
    transform: scale(1.5);
}

.photo h2{
    margin-top: 0;
}

.infos{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
}

.infos h2{
    align-self: stretch;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid lightgray;
}

.infos li{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    color: #707070;
}

.unit{
    font-size: 12px;
}
